<div class="col-md-6 col-lg-3 px-0 text-center">

  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= title %></h5>
      <div>
        <i class="fas fa-4x <%= icon %> mb-3 sr-icon-1"></i>
      </div>
      <a href="<%= link %>" class="button"><%= link_text %></a>
    </div>
  </div>

</div>
