<%= render 'leave_requests' %>

<section class="bg-primary" id="calendar">
<div class="container">
<div class="row">
  <div class="col-lg-8 mx-auto text-center">

    <hr class="light my-4">
    <%= link_to 'New Leave Request', new_request_path, class: "btn btn-light btn-xl js-scroll-trigger" %>

  </div>
</div>
</div>
</section>

<section id="opportunities">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">Opportunities</h2>
        <hr class="my-4">
        <p class="mb-5">Ready for the next step? Click below for more.</p>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col-lg-4 ml-auto text-center">
        <i class="fas fa-desktop fa-3x mb-3 sr-contact-1"></i>
        <a href="https://www.ey.com">Click here for the company website</a>
      </div>
      <div class="col-lg-4 mr-auto text-center">
        <i class="fas fa-desktop fa-3x mb-3 sr-contact-2"></i>
        <p>
          <a href="https://www.ey.com">Click here for training opportunities</a>
        </p>
      </div>
    </div>
  </div>
</section>
