<section class="bg-primary" id="calendar">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
      <div id='calendar'></div>
        <hr class="light my-4">
        <p class="text-faded mb-4">In this section, a calendar will show your upcoming leave. You will also be able to see your teams leave dates.</p>
        <a class="btn btn-light btn-xl js-scroll-trigger" href="#leaverequest">Click this to request leave</a>
      </div>
		<div id="remote_container"></div>

		<div id="new_request"></div>
    </div>
  </div>
</section>