<header>
	 <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css" rel="stylesheet"/>
</header>
<div id='calendar'></div>
<div id="remote_container"></div>
<div id="new_request"></div>
  