  <header class="masthead text-center text-white d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
          <strong>Welcome to your Time Manager</strong>
        </h1>
        <hr>
      </div>
      <div class="col-lg-8 mx-auto">
        <p class="text-faded mb-5">
          <% if user_signed_in? %>
            Scroll down to see more
          <% else %>
            Sign in to see more
          <% end %>
        </p>
        </div>
    </div>
  </div>
</header>

<% if user_signed_in? %>

  <%= render 'signed_in_home' %>

<% end %>
