<div class="container" id="kontainer">
  <h2 class="mb-3">Your Reports</h2>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td>
          <%= link_to "View User", manager_user_path(user), class: 'button button--small' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
