.button {
  font-size: 1rem;
  max-width: 100%;
  padding: 0.7em 2em;
  font-weight: bold;
  line-height: 1.6;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  transition: 0.2s all ease;
  background-color: $theme-color;
  color: $mortar;
  border-radius: 5px;
  -webkit-font-smoothing: inherit;
  border: 1px solid $theme-color;
  &:hover {
    color: $mortar;
    background-color: darken($theme-color, 10%);
    text-decoration: none;
  }
}

.button--small {
  padding: 0.5em 1.4em;
  font-size: 0.8rem;
}

.button--full {
  width: 100%;
}

.button--danger {
  background-color: #dc3545;
  border-color: #dc3545;
  color: white;
  &:hover {
    background-color: darken(#dc3545, 10%);
    color: white;
  }
}
