.hidden {
  display: none;
}

.clickable {
  cursor: pointer;
}

.js-see-more {
  transition: all 0.3s ease-in-out;
}

.rotate {
  transform: rotate(45deg);
}

.text-warning {
  color: #FFC526;
}

// JQUERY MODAL STYLES
.modal {
  overflow: unset;
  padding: 30px !important;
}

// FULL CALENDAR OVERWRITE STYLES
.fc-event-container {
  cursor: pointer;
}

// SELECTIZE
.selectize-input {
  line-height: 24px !important;
}
